
.social img{
  padding-top: 1.5rem;
}

.social{
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 540px) {

  .social{
    position: fixed;
    bottom: 240px;
    left: 0;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

}
