
  .contain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  SideBar{
    flex: 1;
    order: 1;
  }

  .mainSponsor{

      flex: 1;
      text-align: center;
      order: 2;
      max-width: 80rem;
      padding-top: 8rem;
      }

  .mainSponsorIn{
      display: flex;
      flex-direction: column;
  }



  .slider {
    flex: 1;
    max-height: 15rem;
    max-width: 90rem;
}


.title{
  flex: 1;
  color: #0F3C7A;
  font-size: 3rem;

}

@media screen and (max-width: 540px){
  .title{
    flex: 1;
    color: #0F3C7A;
    font-size: 2rem;
    padding-top: 25%;
  }
}
